<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

<div class="col-sm-12">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="col-sm-12 pad_bot2">
			<div class="row bg_white pad_top2 radius">		

				<div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
					   <a class="thumbnail">
                        <img src="/assets/profile_img.jpg" alt="" style="height: 9em; width: 9em;"> </a>
                        <div class="caption font_style1 pull-right">
                            
                            <h6 class="caption font_style1 pull-right">John Username</h6> <br>Company name 
                        </div>
                    </div>
                    <div class="row navbar-text navbar-right text-right pad_top10">
                        <a href="#">Profile &nbsp;<img src="/assets/profile_2.png" alt=""></a><br>
                        <a href="#">Reset Password &nbsp;<img src="/assets/reset.png" alt=""></a><br>
                        <a href="#">Logout &nbsp;<img src="/assets/logout_2.png" alt=""></a>
                        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>

                    </div>
				</div>

				<div class="col-sm-9 pad_rl2">
					<div class ="row pad_left radius bg_silver">
						<p style="float: left;"><img class="img-responsive" src="/assets/home.png" alt=""></p><p> &nbsp; HOME</p>
					</div>
                    

				</div>

				<div class="col-sm-12 pad_top2">
					<div class="row bg_black bottom_radius">
						<p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
					</div>

				</div>

			</div>
		</div>

	</div>
	<div class="col-sm-1"></div>
</div>

    <div class="container">

        <!-- <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>


                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/assets/slide-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/assets/slide-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/assets/slide-3.jpg" alt="">
                            </div>
                        </div>

                        
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Business Casual</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>Start Bootstrap</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div> -->

        <!-- <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Build a website
                        <strong>worth visiting</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/assets/intro-pic.jpg" alt="">
                    <hr class="visible-xs">
                    <p>The boxes used in this template are nested inbetween a normal Bootstrap row and the start of your column layout. The boxes will be full-width boxes, so if you want to make them smaller then you will need to customize.</p>
                    <p>A huge thanks to <a href="http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock Photo</a> for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
            </div>
        </div>
 -->
        <!-- <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Beautiful boxes
                        <strong>to showcase your content</strong>
                    </h2>
                    <hr>
                    <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
            </div>
        </div> -->

    </div>
    <!-- /.container -->

   <!--  <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer> -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
