<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

Hi <%= @user1.first_name %>, <br><br>

Welcome to the TriStatus Customer Login!<br><br>

An account has been created for you to help keep track of the status of your Triton Project(s).<br><br>

Your user name is: <%= @user1.email %><br><br>

Your password is: <%= @password %><br><br>

<a href="http://fathomless-bayou-5542.herokuapp.com/"> Click here to login </a><br><br>

Sincerely, <br>
Triton Support Team

</body>
</html>