<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

Hi <%= @user.first_name %>, <br><br>

Welcome to the TriStatus Customer Login!<br><br>

A report has been created for you to help keep track of the status of your Triton Project(s).<br><br>

<a href="http://www.tritonlsstatus.ca/"> Click here to login </a><br><br>

Sincerely, <br>
Triton Support Team

</body>
</html>